.armor {
            position: relative;
            width: 250px;
            border: 1px solid lightgray;
            border-radius: 10px;
            display: flex;
            padding: 10px;
        }
        .armor-piece {
            height: 100%;
            width: 70%;
            display: flex;
        }
        .armor-slots {
            height: 100%;
            width: 25%;
        }
        .armor-icon {
            background-color: darkgray;
            width: 75px;
            height: 75px;
        }
        .slot {
            background-color: darkgray;
            height: 25px;
            width: 25px;
        }

.container-armor {
    width: 250px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    display: flex;
    padding: 10px;
}
.container-armor-detail
{
    width: 70%;
    display: flex;
}
.armor-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: grey;
}
.armor-skill {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: lightgrey;
}
.armor-deco {
    height: 25px;
    width: 25px;
    background-color: lightgray;
}
/* General Width Control Classes */
.width-full {
   width: 100%;
}
.width-half {
    width: 50%;
}